<h1>Insert the form to edit an instance of your model here.</h1>


<form method="POST" action="/posts/#{@post.id}">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <p>Artist: <insert type="text" name="artist"></p>
    <p>Album: <insert type="text" name="album"></p>
    <p>Score: <insert type="number" name="score"></p>
    <p>Review: <insert type="text" name="review"></p>
    <p><insert type='submit' name="submit"></p>
</form>
