<h1>Welcome, <%= current_user.username %></h1>

<% @posts.each do |post| %>
    <% if @user.id == post.user_id %>
    <div>
        <p><%= post.artist %>: <a href="/posts/<%= post.id %>"><%= post.album %></a></p>
    </div>
    <% end %>
<% end %>

<a href="/posts/new">Create New Post</a>
<br>
<br>
<a href="/users">See All Users</a>