<div id='flash' class='missing'>
  <%= flash[:missing] %>
</div>
<h1>Create a New Post</h1>
<br>

<form method="POST" action="/posts">
    <p>Artist: <input type="text" name="artist"></p>
    <p>Album: <input type="text" name="album"></p>
    <p>Score: <input type="number" name="score"></p>
    <p>Review: </p>
    <textarea rows="10" cols="50" name="review"></textarea>
    <p><input type='submit' name="submit"></p>
</form>
