<h1>Insert the form to create a new instance of your model.</h1>

<form method="POST" action="/posts">
    <p>Artist: <insert type="text"></p>
    <p>Album: <insert type="text"></p>
    <p>Score: <insert type="number"></p>
    
    <p><insert type='submit' name="submit"> 
</form>
