<div class="container">
  <header>
  </header>
  <div class="col-md-8 col-md-offset-2" style="text-align: center;">
    <h1>Welcome to Musicboxd!</h1>
    <h4>The social media for music lovers</h4>
    <br><br>
    <div>
      <p>Track albums you've listened to</p>
      <p>See what your friends are listening to</p>
      <p>Tell your friends what's good</p>
      <br>
      <p><a href="/signup">Sign up</a> or <a href="/login">log in</a> to your account</p>
    </div>
  </div>
</div>
