<div class="container">
  <header>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2 class="introduction">Welcome to Musicboxd!</h2>

    <div class="content">
      <p>Sign up or log in to your account</p>
    </div>
  </div>
</div>
